@mixin font-face($name, $file, $weight) {
  @font-face {
    font-family: $name;
    src: url("../../assets/fonts/#{$file}.woff2") format("woff2");
    font-weight: $weight;
    font-style: normal;
  }
}

@include font-face("Gilroy", "gilroy-semibold", 600);
@include font-face("Gogh", "gogh-regular", 400);
@include font-face("Gogh", "gogh-bold", 700);
@include font-face("Gogh", "gogh-extraBold", 800);
@include font-face("Montserrat", "montserrat-regular", 400);
@include font-face("Montserrat", "montserrat-medium", 500);
@include font-face("Montserrat", "montserrat-semiBold", 600);
@include font-face("Montserrat", "montserrat-bold", 700);
@include font-face("Rubik", "rubik-regular", 400);